<%- include('layout/header'); -%>

<div class="main">
  <div class="container">
    <div class="content">
      <div class="post">
        <div class="top">
          <h2>Post Title</h2>
        </div>
        <div class="body">
          <p>
            Express.js, or simply Express, is a web application framework for
            Node.js, released as free and open-source software under the MIT
            License. It is designed for building web applications and APIs.[3]
            It has been called the de facto standard server framework for
            Node.js.[4] The original author, TJ Holowaychuk, described it as a
            Sinatra-inspired server,[5] meaning that it is relatively minimal
            with many features available as plugins. Express is the back-end
            component of the MEAN stack, together with the MongoDB database
            software and AngularJS front-end framework.[6]
          </p>
        </div>
        <div class="bottom">
          <div class="author">Autor: <a href="/">Author</a></div>
          <a href="/">Comments</a>
        </div>
      </div>
      <div class="post">
        <div class="top">
          <h2>Post Title</h2>
        </div>
        <div class="body">
          <p>
            Express.js, or simply Express, is a web application framework for
            Node.js, released as free and open-source software under the MIT
            License. It is designed for building web applications and APIs.[3]
            It has been called the de facto standard server framework for
            Node.js.[4] The original author, TJ Holowaychuk, described it as a
            Sinatra-inspired server,[5] meaning that it is relatively minimal
            with many features available as plugins. Express is the back-end
            component of the MEAN stack, together with the MongoDB database
            software and AngularJS front-end framework.[6]
          </p>
        </div>
        <div class="bottom">
          <div class="author">Autor: <a href="/">Author</a></div>
          <a href="/">Comments</a>
        </div>
      </div>
    </div>

    <%- include('layout/sidebar'); -%>
  </div>
</div>

<%- include('layout/footer'); -%>
